@{
    ViewBag.Title = "What We Do";
}

<div id="oneInEight">
    <img src="@Url.Content("~/Content/images/what_we_do/one-in-eight.jpg")" title="One in eight of us" width="967" height="370" />
    <div class="large-h-divider-dark"></div>
</div>

<div id="ourImpact" class="group">
    <div class="impact-highlight left" id="whyHouses">
        <div class="impact-icon"><img src="@Url.Content("~/Content/images/what_we_do/why-houses.png")" title="Why Houses" /></div>
        <div class="impact-title">WHY HOUSES</div>
        <div class="impact-description">
            Houses provide much needed stability for families and children. Home ownerships creates a sense 
            of pride and dignity. The physical safety and security that come from a home are fundamental
             elements in the difficult fight agaisnt poverty. Houses increase job and educational opportunities 
            for families and children. A home provides unprecedented access to credit and a viable form of 
            wealth accumulation. 
        </div>
    </div>
    <div class="impact-highlight right" id="genuineExchange">
        <div class="impact-icon"><img src="@Url.Content("~/Content/images/what_we_do/exchange.png")" title="Genuine Exchange" /></div>
        <div class="impact-title">GENUINE EXCHANGE</div>
        <div class="impact-description">
            We respect community members as active participants, rather than passive recipients of change. 
            Productive, reciprocal exchange is at the heart of everything we do. Each family serves a set 
            amount of community service hours which allow them to earn their house. This period of service 
            fosters an enormous sense of ownership, not just in one’s own home, but in the entire community.
        </div>
    </div>
    <div class="impact-highlight left" id="communityDevelopment">
        <div class="impact-icon"><img src="@Url.Content("~/Content/images/what_we_do/community-development.png")" title="Community Development" /></div>
        <div class="impact-title">COMMUNITY DEVELOPMENT</div>
        <div class="impact-description">
            Over the course of earning their hours, families engage in community development activities 
            like education, vocational training, and basic healthcare. Each home represents hundreds of 
            hours invested in making the entire community a better place to live. Individual capacity is 
            significantly raised, which promotes community engagement and activism. 
        </div>
    </div>
    <div class="impact-highlight right" id="economicImpact">
        <div class="impact-icon"><img src="@Url.Content("~/Content/images/what_we_do/economic-impact.png")" title="Economic Impact" /></div>
        <div class="impact-title">ECONOMIC IMPACT</div>
        <div class="impact-description">
            Adequate housing effects economies in significant ways. The first step in crime prevention 
            efforts is pride that comes from homeownership. The process of confirming land rights 
            strengthens communities. Good housing attracts economic investment and development. Safe 
            homes and neighborhoods build social stability and security. Houses are a catalyst for 
            civic activism and community organization.
        </div>
    </div>
</div>

<div id="hoursServedTopBorder" class="group">
    <div id="hoursServedLeft" class="left"></div>
    <div id="hoursServedTitle" class="left">HOURS SERVED</div>
    <div id="hoursServedRight" class="right"></div>
</div>

<div id="hoursServed" class="group">
    <div class="hours-served-highlight left" id="projects">
        <div class="hours-served-icon"><img src="@Url.Content("~/Content/images/what_we_do/wheelbarrow.png")" title="Projects" /></div>
        <div>
            People usually start earning hours by participating in various community projects. These 
            projects are organized by local leaders who have worked together to set priorities and 
            create solutions.
        </div>
    </div>
    <div class="hours-served-highlight left" id="congregation">
        <div class="hours-served-icon"><img src="@Url.Content("~/Content/images/what_we_do/church.png")" title="Congregation" /></div>
        <div>
            People can earn hours by serving with their local congregation. Spiritual health is an 
            essential  aspect of wholistic community development.
        </div>
    </div>
    <div class="hours-served-highlight left" id="seminars">
        <div class="hours-served-icon"><img src="@Url.Content("~/Content/images/what_we_do/literature.png")" title="Seminars" /></div>
        <div>
            Every family is asked to earn a certain amount of hours in community development seminars. 
            These seminars are led by volunteers who are also earning hours or are simply giving their 
            time to help others through the process.
        </div>
    </div>
    <div class="hours-served-highlight left" id="homes">
        <div class="hours-served-icon"><img src="@Url.Content("~/Content/images/what_we_do/house.png")" title="Homes" /></div>
        <div>
            Neighbors can help build each others homes as a way to earn hours. It doesn’t take long for 
            a naturally created support network to form between these neighbors.
        </div>
    </div>
    <div class="hours-served-highlight left" id="cooperation">
        <div class="hours-served-icon"><img src="@Url.Content("~/Content/images/what_we_do/cooperation.png")" title="Cooperation" /></div>
        <div>
            New homeowners are forever connected with dozens of other program participants, further 
            increasing the chances of long-term success through community cooperation and support.
        </div>
    </div>
</div>

<div id="hoursServedBottomBorder"></div>

<div id="whatWeDoQuote">
    <div id="quote">
        <span>
            "More than one billion human beings still lack adequate shelter and are living in unacceptable
            conditions of poverty."
        </span>
    </div>
    <div id="author">
        <span class="bold">-United Nations, Human Settlements Agenda</span>
    </div>
</div>

<div id="serviceDetails">
    <div class="large-h-divider-dark"></div>

    <div class="group">
        <div class="service-highlight left" id="donations">
            <div class="service-icon"><img src="@Url.Content("~/Content/images/what_we_do/donation-percent.png")" title="100%" /></div>
            <div class="service-description">
                100% of all public donations go to field programs. How? A group of generous private 
                donors cover all of our U.S. operation costs.
            </div>
        </div>
        <div class="service-highlight left" id="proof">
            <div class="service-icon"><img src="@Url.Content("~/Content/images/what_we_do/world.png")" title="World" /></div>
            <div class="service-description">
                We prove every house with photos of the family in their new home and GPS coordinates.
                Check out a sample proof page.
            </div>
        </div>
        <div class="service-highlight left" id="join">
            <div class="service-icon"><a class="command"><div id="joinUs">JOIN US</div></a></div>
            <div class="service-description">
                Theres a lot of ways to get involved. Go on a trip, launch a campaign, donate, or help 
                spread the world.
            </div>
        </div>
    </div>
</div>
